<article>
    <mat-card>
        <mat-card-header>
            <mat-card-title>
                Season 1
            </mat-card-title>
            <mat-card-subtitle>
                Warzone Expedition
            </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div>
                <div>
                    <h4>Basic Rules</h4>
                    <ul>
                        <li>We will be able to place <strong>“Alliance Outposts”</strong> in other Warzones.</li>
                        <li>Once the outpost is placed, it cannot be removed. Starting from the outpost, we can capture Military Strongholds in that Warzone within range.</li>
                        <li>The limit of capturing <strong>2 Military Strongholds per day</strong> applies across all Warzones. You can capture only 2 per day, regardless of where they are placed.</li>
                        <li>Next Outpost unlocks every week. We can have a maximum of <strong>4 outposts.</strong></li>
                        <li>It is possible to place a maximum of <strong>1 outpost per Warzone (Server).</strong></li>
                        <li>
                            The outposts do not need to be connected to the target. 
                            <ul>
                                <li>Military Strongholds need to be connected to what is going to be captured/attacked.</li>
                            </ul>
                        </li>
                        <li>
                            You can capture any level of city on other Warzones:
                            <ul>
                                <li>You just need to be connected through a Military Stronghold.</li>
                                <li>No need to capture a level 1 city to capture a level 2 city.</li>
                                <li>Plan the capture of Military Strongholds accordingly to this rule.</li>
                            </ul>
                        </li>
                        <li>
                            When Outposts are placed, they have a <strong>protection status</strong>:
                            <ul>
                                <li>They cannot be attacked until they are built.</li>
                                <li>The more reinforcement placed, the faster the construction.</li>
                            </ul>
                        </li>
                        <li>
                            Once an outpost is built:
                            <ul>
                                <li>It can be attacked with single attacks (no rallies).</li>
                                <li>It is possible to rebuild destroyed outposts.</li>
                            </ul>
                        </li>
                        <li>
                            If your outpost gets destroyed:
                            <ul>
                                <li>You can rebuild it.</li>
                                <li>The outpost is needed only to capture the first Military Stronghold in another server.</li>
                                <li>Based on its placement, you can capture adjacent Military Strongholds.</li>
                                <li>It is otherwise useless.</li>
                            </ul>
                        </li>
                    </ul>
                </div>
                
            </div>
            <hr>
            <div class="cross-warzone">
                <h5>Cross-warzone Server Candidates</h5>
                
                <div class="server">
                  <h3>Server 763</h3>
                  <table class="table table-stripe">
                    <thead>
                      <tr>
                        <th>Alliance</th>
                        <th>Power</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>NxB</td>
                        <td>4.9B</td>
                      </tr>
                      <tr>
                        <td>9Lm</td>
                        <td>4.5B</td>
                      </tr>
                      <tr>
                        <td>LUXD</td>
                        <td>4.2B</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              
                <div class="server">
                  <h3>Server 766</h3>
                  <table class="table table-stripe">
                    <thead>
                      <tr>
                        <th>Alliance</th>
                        <th>Power</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>6oz</td>
                        <td>4.6B</td>
                      </tr>
                      <tr>
                        <td>K730</td>
                        <td>4.3B</td>
                      </tr>
                      <tr>
                        <td>FgH</td>
                        <td>4.0B</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              
                <div class="server">
                  <h3>Server 768</h3>
                  <table class="table table-stripe">
                    <thead>
                      <tr>
                        <th>Alliance</th>
                        <th>Power</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>GO4</td>
                        <td>4.5B</td>
                      </tr>
                      <tr>
                        <td>Mot</td>
                        <td>4.5B</td>
                      </tr>
                      <tr>
                        <td>SVA</td>
                        <td>4.4B</td>
                      </tr>
                      <tr>
                        <td>On1</td>
                        <td>4.1B</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              
                <div class="server">
                  <h3>Server 765</h3>
                  <table class="table table-stripe">
                    <thead>
                      <tr>
                        <th>Alliance</th>
                        <th>Power</th>
                      </tr>
                    </thead>
                    <tbody>
                      <tr>
                        <td>CtLS</td>
                        <td>5.0B</td>
                      </tr>
                      <tr>
                        <td>UHs</td>
                        <td>4.1B</td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              
        </mat-card-content>
    </mat-card>
</article>